@{
    ViewData["Title"] = "Form01Handle";
}

<div style="line-height:2;">
    <strong>First name : </strong>@ViewBag.fname <br />
    <strong>Last name : </strong>@ViewBag.lname <br />
    <strong>Email : </strong>@ViewBag.email <br />
    <strong>Height : </strong>@ViewBag.height <br />
    <strong>Last answer : </strong>@ViewBag.lastans
</div>

